@model HereosBank.Models.Compte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumCompte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
