@model IEnumerable<HereosBank.Models.Agence>

@{
    ViewBag.Title = "Agences";
}



<div class="col-md-5">

    <span class="login100-form-btn" onclick="@Url.Action("Create","Agences")">
       Liste actuelle des agences
    </span>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseAgence)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseAgence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdAgence }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdAgence }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdAgence })
            </td>
        </tr>
    }

</table>
